<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Layout</title>
    <link
      rel="stylesheet" href="../static/css/main.css"
    />
</head>
<body>

    {% include 'navbar.html' %}

    <div class="content">
      <header id="header">
              <h1>Game Library</h1>
              <div class="copyright">&copy; ldiz346 | hcho403 | xli751</div>
            </header>
            <div id="container">
              <main id="main">
                <div class="description">
                  <br>
                    <h3>{{ gameToDisplay.name }}</h3>
                    <p><img src="{{ gameToDisplay.image }}" alt="game image"> </p>
                    <p><i>Publishers:</i>  {{ gameToDisplay.publishers }}</p>
                    <p><i>Release Date:</i>  {{ gameToDisplay.date }}</p>
                    <p><i>Price:</i>  ${{ gameToDisplay.price }}</p>
                    <p><i>Genres:</i>  {{ gameToDisplay.genres }}</p>
                    <p><i>About:  </i><br>
                         {{ gameToDisplay.about }}
                    </p>
                </div>
              </main>
            </div>
    </div>
</body>
</html>