{% extends 'layout.html' %}
{% block content %}


    <div class="content">
            <div id="container">
              <main id="main">
                  <br>
                  <div class="amp">
                    <h3>{{ gameToDisplay.name }}</h3>
                    <p><img src="{{ gameToDisplay.image }}" alt="game image"> </p>
                    <p><i>Publishers:</i>  {{ gameToDisplay.publishers }}</p>
                    <p><i>Release Date:</i>  {{ gameToDisplay.date }}</p>
                    <p><i>Price:</i>  {{ gameToDisplay.price }}</p>
                    <p><i>Genres:</i>  {{ gameToDisplay.genres }}</p>
                    <p><i>About:  </i><br>
                         {{ gameToDisplay.about }}
                    </p>
                </div>
              </main>
            </div>
    </div>


{% endblock %}