<nav>
    <script src="https://kit.fontawesome.com/1de52e9c4f.js" crossorigin="anonymous"></script>
    <div class="sidebar">
        <ab><i class="fa-solid fa-biohazard fa-7x" style="color: #93edec;"></i></ab>
        <a href="{{ url_for('show_layout') }}">Home</a>
        <a href="{{ url_for('show_games') }}">All Games</a>
        <div class="dropdown">
            <button class="dropbtn">Genres <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                {% for genre in unique_genres %}
                <a href="{{ url_for('filter_by_genre', selected_genre=genre) }}">{{ genre }}</a>
                {% endfor %}
            </div>
        </div>
        <a>Reviews</a>
        <a>Wishlist</a>
        <footer>ldiz346 | hcho403 | xli751</footer>
    </div>
    <div class="content">
        <header id="header">
            <h1>Game Library</h1>
            <div class="copyright">&copy; ldiz346 | hcho403 | xli751</div>
        </header>
        <div class="topnav">
            <div class="search-container">
                <table>
                    <tr>
                        <td>
                            <form action="{{url_for('show_name_search')}}" method = "POST">
                            <input type="text" placeholder="Search by name" name="search">
                            <button type="submit">Submit</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{url_for('show_publisher_search')}}" method = "POST">
                            <input type="text" placeholder="Search by publisher" name="search">
                            <button type="submit">Submit</button>
                            </form>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</nav>
