{% extends 'layout.html' %}
{% block content %}


    <div class="content">
        <div id="container">
            <main id="main">

                <div class="identity">
                    <i class="fa fa-pen fa-xl edit"></i>
                    <table>
                        <h3>Identity</h3>
                        <tr>
                            <td style="width:430px" ><h2>Name</h2></td>
                            <td style="width:50px" >:</td>
                            <td>Some Guy</td>
                        </tr>
                        <tr>
                            <td><h2>Reviews Count</h2></td>
                            <td>:</td>
                            <td>-1000</td>
                        </tr>
                        <tr>
                            <td><h2>Wishlist Count</h2></td>
                            <td>:</td>
                            <td>1000</td>
                        </tr>
                    </table>
                </div>

                <div class="history">
                    <h3>History</h3>
                    <table>
                        <h3>Identity</h3>
                        <tr>
                            <td style="width:430px" ><h2>Name</h2></td>
                            <td style="width:50px" >:</td>
                            <td>Some Guy</td>
                        </tr>
                        <tr>
                            <td><h2>Reviews Count</h2></td>
                            <td>:</td>
                            <td>-1000</td>
                        </tr>
                        <tr>
                            <td><h2>Wishlist Count</h2></td>
                            <td>:</td>
                            <td>1000</td>
                        </tr>
                    </table>
                </div>
            </main>
        </div>
    </div>


{% endblock %}