<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sreach</title>
    <link
      rel="stylesheet" href="../static/css/main.css"
    />
</head>
<body>

    {% include 'navbar.html' %}

    <div class="content">

        <div>
            <h1>Searching for "{{target}}" ({{amount_result}}) results found.</h1>
        </div>

            <div id="container">
              <main id="main">
                    <Table>
                      {% for game in listOfSearches %}
                        <tr>
                            <td><a href="{{ url_for('show_gamedesc', gameToDisplay=game.id) }}" > <img src="{{ game.image_url }}" alt="game image"> </a></td>
                            <td><a href="{{ url_for('show_gamedesc', gameToDisplay=game.id) }}">
                                <h2>{{ game.title }}</h2>
                                <div class="description">
                                <p><i>Price:</i> {{ game.price }}</p><p><i>Publishers:</i> {{ game.publisher.publisher_name }}</p><p><i>Release Date:</i>
                                  {{ game.release_date }}</p><p><i>Genres:</i> {{ game.genres.genre_name }}</p>
                                </div>
                            </a></td>
                        </tr>

                      {% endfor %}
                    </Table>
              </main>
            </div>
    </div>
</body>
</html>