{% extends 'layout.html' %}
{% block content %}

    <div class="content">
        <div id="container">
            <main id="main">
                <div class="description">
                    <br>
                        <h2>Username</h2>
                        <input placeholder="Username" name="user_name">
                        <h2>Password</h2>
                        <input placeholder="Password" name="password">
                        <br>
                        <br>
                        <button >Submit</button>
                </div>
            </main>
        </div>
    </div>


{% endblock %}